<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Encode and Decode</title>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
<link rel="shortcut icon" href="https://images.pexels.com/photos/373543/pexels-photo-373543.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" type="image/x-icon">
<link rel="manifest" href="manifest.json">
</head>
<body>
    <nav class="teal">
        <div class="nav-wrapper">
            <div class="container">
            <a href="/" class="center brand-logo">DataSecure</a>
        </div>
        </div>
    </nav>


    {{{ body }}}

<footer class="center" style="margin-top:25%;">
<h4>Made with <i class="material-icons red-text darken-4">favorite</i> by Karthick </h4>
    </footer>
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

<script>
    
</script>

</body>
</html>