<p class="center">Never Regret for data misuses! share your data securely</p>

<div class="container" style="margin-top:80px;">


<form action="/post" method="post">

 <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field  col s12">
          <input placeholder="Your data to Secure" class="validate inline" name="value" type="text">
          <label for="first_name">Your Data</label>
        </div>
        </div>
        
<center>
<input type="submit" class="btn red darken-1 center" value="submit">
</center>
</form>
</div>
</form>
<p class="center" style="margin-top:30px;">Want to get the Original data from secret data?<a href="/encode"> &nbsp;  Go here</a></p>
</div>

