<div class="container" style="margin-top:80px;">


<form action="/encode" method="post">

 <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field  col s12">
          <input placeholder="Your Secret data " class="validate inline" name="value2" type="text">
          <label for="first_name">Your secret Data</label>
        </div>
        </div>
        
<center>
<input type="submit" class="btn red darken-1 center" value="submit">
</center>
</form>
<center>
    <br>
    <br>
    <a href="/" style="margin-top:50px;">Go to secure your data page</a>
</center>

<center style="margin-top:60px"> Your orginal Data will appear below </center><h4 class="center red lighten-2 white-text" style="margin-top:60px;">  {{ decoded1 }}</h4>
</div>
