
<div class="conatiner">
<p class="center"> Get your Secure Data below <br> {{ encodedData }} </b></p>


<center>Want to get the original data? copy the above weird string/data and go to 
<a href="/encode" class="center"> Get orginal data </a>
</center>
</div>
